:root {
    --dark-green: #283618;
    --light-green: #606c38;
    --eggshell: #f0e9e0;
    --yellow: #d5d091;
    --dark-brown: #6c6661;
    --dark-pink: #a87780;
    --lime-green: #abb94f;
    --dark-blue: #bbcdb6;
    --orange: #ffa559;
}