.intromessage {
    color: var(--light-green);
    margin-top: 400px;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    font-family: "Bebasneue-regular"
}
.websiteheader {
    color: var(--dark-green);
    margin-top: 20px;
    font-size: 80px;
    text-align: center;
    font-weight: lighter;
    font-family: "LeagueSpartan-Bold"
}
.contactheader {
    color: var(--dark-green);
    margin-top: 2000px;
    font-size: 35px;
    font-family: "BebasNeue-regular";
}
body {
background-color: var(--eggshell);
margin: 0%;
font-family: "Bebasneue-regular"
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--dark-green);
    font-weight: bold;
    font-size: larger;
    list-style-type: none;
    margin: 0%;
    padding: 8px 0;
    position: fixed;
    top: 0%;
    width: 100%;
    font-family: "leaguespartan-bold";
}
li a {
text-decoration: none;
color: var(--eggshell)
}
    input[type=text], select, textarea {
        width: 100%;
        padding: 15px;
        border: 1px solid #283618;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 20px;
        background-color: var(--dark-blue);
        resize: vertical;
    }
    input[type=submit] {
        background-color: var(--dark-green);
        color: var(--dark-green);
        padding: 12px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
input[type=submit]:hover {
    background-color: var(--dark-green);
}
.container {
    border-radius: 5px;
    background-color: var(--eggshell);
    padding: 180px;
}