.websiteheader {
    color: black;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
}
body {
background-color: cornsilk;
margin: 0%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: cornflowerblue;
    font-weight: bold;
    font-size: larger;
    list-style-type: none;
    margin: 0%;
    padding: 8px 0;
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom: 2.5px cornsilk;
}
li a {
text-decoration: none;
color: cornsilk;
}